.env

*.pyc

# Common image formats
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.gif
*.raw
*.webp
*.png
*.apng
*.mng
*.tiff
*.tif
*.svg
*.svgz
*.pdf
*.xbm
*.bmp
*.dib
*.ico

# Less common image formats
*.psd
*.eps
*.cdr
*.ai
*.afphoto

# Animated image formats
*.gifv
*.webm
*.mp4