## FOR 3.10 64BIT

#absl-py==0.9.0
#asgiref==3.2.7
#astunparse==1.6.3
backtrader>=1.9.74.123
#chardet==3.0.4
#cycler==0.10.0
#gast==0.3.3
#grpcio==1.28.1
#h5py==2.10.0
#idna==2.8
#lxml==4.4.2
matplotlib>=3.1.2
#mplfinance==0.12.3a3
#multitasking==0.0.9
numpy>=1.17.4
#opt-einsum==3.2.0
pandas>=1.0.1
pandas-datareader>=0.8.1
#protobuf==3.11.3
python-dateutil>=2.8.1
#pytz==2019.3
requests>=2.22.0
scipy>=1.4.1
#six==1.13.0
#soupsieve==1.9.5
tensorboard>=2.2.0
tensorboard-plugin-wit>=1.6.0.post3
tensorflow>=2.2.3
tensorflow-estimator>=2.2.0rc0
#yfinance==0.1.54


## FOR 3.7 32BIT
pywin32>=304